{% include "base/header.html" %}

<div class="row" style="background: #CCDBBC;padding-bottom: 25px;">
            <div class="col" style="background: #CCDBBC;">
            <h5 style="text-align: center;color: #CA4D29;"><strong>Качалка</strong></h5>
            <div class="row">
            <div class="col-3"><img src="static/fight/gym.png" width="100%" style="padding-top: 0px;border-radius: 15px;background-color: cornflowerblue;"></div>
            <div class="col-8"  style="background: #ffe189;border-radius: 5px;border: 3px solid #EB8A17;margin-left: 20px;">
                <p style="padding: 5px;">Тренируйся.</p>
                </div>
            </div>
        </div>
    <br><br>
    <p style="padding-top: 15px;">
У тебя осталось <b>{{ count_gym }}</b> прокачки.</p>
    <br><br>
    <hr>
</div>

        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;">
            <div class="col-3" style="border-radius: 25px;border-radius: 15px;margin-left: 15px;"><img src="static/fight/muscle.png" style="padding-top: 0px;" width="80%" height="auto"></div>
            <div class="col-8" style="padding-right: 5px;padding-left: 15px;">
                <p style="text-align: left;margin-bottom: 0px;font-size: 16px;"><strong>Сила</strong></p>
                <p style="text-align: left;font-size: 14px;margin-bottom: 0px;">Прокачано на: <strong> {{  user_head_info.power }}</strong></p>
                </br>
                {% if count_gym > 0 %}
                <a href="gym?go=power"><button class="btn" type="button" style="padding-right: 14px;padding-top: 0px;padding-bottom: 0px;background: var(--bs-red);border-width: 0px;">Качать</button></a>
                {% endif %}
            </div>
            <hr style="margin-top: 10px; height: 2px;">
        </div>
        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;">
            <div class="col-3" style="border-radius: 25px;border-radius: 15px;margin-left: 15px;"><img src="static/fight/abs.png" style="padding-top: 0px;" width="80%" height="auto"></div>
            <div class="col-8" style="padding-right: 5px;padding-left: 15px;">
                <p style="text-align: left;margin-bottom: 0px;font-size: 16px;"><strong>Стойкость</strong></p>
                <p style="text-align: left;font-size: 14px;margin-bottom: 0px;">Прокачано на: <strong> {{  user_head_info.stamina }}</strong></p>
                </br>
                {% if count_gym > 0 %}
                <a href="gym?go=abs"><button class="btn" type="button" style="padding-right: 14px;padding-top: 0px;padding-bottom: 0px;background: var(--bs-red);border-width: 0px;">Качать</button></a>
                {% endif %}
            </div>
            <hr style="margin-top: 10px; height: 2px;">
        </div>
        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;">
            <div class="col-3" style="border-radius: 25px;border-radius: 15px;margin-left: 15px;"><img src="static/fight/running.png" style="padding-top: 0px;" width="80%" height="auto"></div>
            <div class="col-8" style="padding-right: 5px;padding-left: 15px;">
                <p style="text-align: left;margin-bottom: 0px;font-size: 16px;"><strong>Ловкость</strong></p>
                <p style="text-align: left;font-size: 14px;margin-bottom: 0px;">Прокачано на: <strong> {{  user_head_info.agility }}</strong></p>
                </br>
                {% if count_gym > 0 %}
                <a href="gym?go=ag"><button class="btn" type="button" style="padding-right: 14px;padding-top: 0px;padding-bottom: 0px;background: var(--bs-red);border-width: 0px;">Качать</button></a>
                {% endif %}

            </div>
            <hr style="margin-top: 10px; height: 2px;">
        </div>
        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;">
            <div class="col-3" style="border-radius: 25px;border-radius: 15px;margin-left: 15px;"><img src="static/fight/brain.png" style="padding-top: 0px;" width="80%" height="auto"></div>
            <div class="col-8" style="padding-right: 5px;padding-left: 15px;">
                <p style="text-align: left;margin-bottom: 0px;font-size: 16px;"><strong>Хитрость</strong></p>
                <p style="text-align: left;font-size: 14px;margin-bottom: 0px;">Прокачано на: <strong> {{ user_head_info.trick }}</strong></p>
                </br>
                {% if count_gym > 0 %}
                <a href="gym?go=brain"><button class="btn" type="button" style="padding-right: 14px;padding-top: 0px;padding-bottom: 0px;background: var(--bs-red);border-width: 0px;">Качать</button></a>
                {% endif %}

            </div>
            <hr style="margin-top: 10px; height: 2px;">
        </div>

        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="height: auto;padding-left: 0px;padding-right: 0px;text-align: left;"><a href="district"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/assets/img/left-arrow.png">&nbsp;Назад</button></a></div>
        </div>

{% include "base/footer.html" %}