{% include "base/header.html" %}

<div class="row" style="background: #CCDBBC;padding-bottom: 25px;">
            <div class="col" style="background: #CCDBBC;">
            <h5 style="text-align: center;color: #CA4D29;"><strong>Задания</strong></h5>
            <div class="row">
            <div class="col-3"><img src="static/task/hipster.webp" width="100%" style="padding-top: 0px;border-radius: 15px;background-color: black;border: 10px;"></div>
            <div class="col-8"  style="background: #ffe189;border-radius: 5px;border: 3px solid #EB8A17;margin-left: 20px;">
                <p style="padding: 5px;">У меня всегда есть для тебя задание.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: 45px;">
        <p style="text-align: center;background-color: orange;height: 26px;">
        Текущие </p>
        </div>


        {% for task in tasks_list %}

        
        <div class="row" style="text-align: left;background: #CCDBBC;margin-right: -15px;padding-left: 2px;">
            <p><span style="color: #CA4D29;"><b>{{ task.name }}</b></span> </br>
            Награда: <b>
            {% if task.win_cat == 'gym' %} Абонемент в качалку на {{ task.price }} занятие {% endif %}
            {% if task.win_cat == 'energy' %} 1 бесплатный лотерейный билет {% endif %}
            {% if task.win_cat == 'stuff' %} пакет заряда "Легкий" {% endif %}
            {% if task.win_cat == 'money' %} {{ task.price }} <img src="static/icons/dollar.svg" width="20px" height="20px"> {% endif %}
            </b></p>
        </div>
        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;padding-left: 5px;">
            <center>
                <a href="task-info?name={{ task.name }}"><button class="btn" type="button" style="background-color: orange;border-width: 0px;">Описание</button></a>
                {% if task.status == 0 %}<a href="task-go{{ task.id }}"><button class="btn" type="button" style="background-color: red;border-width: 0px;">Берусь!</button></a>{% endif %}
            </center></br></br><hr>        
        </div>
        
    {% endfor %}

{% include "base/footer.html" %}