{% include "base/header.html" %}


        <div class="row">
            <div class="col" style="background: #CCDBBC;">
                <h5 style="text-align: center;color: #CA4D29;padding-top: 5px;"><strong>Пром зона</strong></h5>
                <p>В центре всегда кипит жизнь. Тут продают, покупают, развлекаются</p>
            </div>
        </div>


        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="prom-weapon"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/prom/kolider.png">&nbsp;Коллайдер </button></a></div>
        </div>
<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="prom-clothing"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/prom/tailoring.png">&nbsp;Швейный цех </button></a></div>
        </div>

{% include "base/footer.html" %}