  {% include "base/header.html" %}

<div class="row">
            <div class="col" style="text-align: center;padding: 0px;background: url(&quot;assets/img/headerimg.png&quot;) center / cover space;height: 100px;min-height: 120px;"><img class="align-content-center align-self-center mx-auto" 
                src="static/location/index/headerimg.png" width="100%" height="100%"></div>
        </div>

{% if box_time %}
<div class="row" style="background: #ffe189;border-radius: 5px;border: 3px solid #EB8A17;padding-bottom: 15px;">
    <span style="padding-left: 15px;padding-top: 10px;font-size: 14px;">Твой счастливый час!</span>
    <br>
    <br>
    <span style="padding-left: 15px;padding-bottom: 15px;font-size: 14px;">Выбери одну из трех коробок и получи приз!</span>
    <br>
    <div class="col" style="text-align: center;height:auto;">
        <a href="index?box=1"><img class="align-content-center align-self-center mx-auto" src="static/assets/img/box.png" loading="lazy" style="max-width: 70%"></a>
    </div>
    <div class="col" style="text-align: center;height:auto;">
        <a href="index?box=2"><img class="align-content-center align-self-center mx-auto" src="static/assets/img/box.png" loading="lazy"  style="max-width: 70%"></a>
    </div>
    <div class="col" style="text-align: center;height:auto;">
        <a href="index?box=3"><img class="align-content-center align-self-center mx-auto" src="static/assets/img/box.png" loading="lazy"  style="max-width: 70%"></a>
    </div>
</div>
{% endif %}

        <div class="row" style="background: #467259;">
            <div class="col" style="border-style: none;padding: 0px;"><a href="task"><button class="btn text-center" type="button" style="width: 100%;background: #467259;border-width: 0px;border-style: solid;border-right-width: 2px;border-right-color: #27533A;border-bottom-width: 1px;border-bottom-color: #27533A;text-align: center;padding: 12px 12px;"><img class="d-flex justify-content-center align-items-center align-content-center align-self-center mx-auto" src="static/location/index/target.svg" loading="lazy" style="text-align: center;" width="40px" height="40px">Задания {% if count_new_task %} [{{ count_new_task }}] {% endif %}</button></a></div>
            <div class="col" style="padding: 0px;width: 100%;"><a href="history"><button class="btn text-center" type="button" style="width: 100%;background: #467259;border-width: 0px;border-style: solid;border-right-width: 2px;border-right-color: #27533A;border-bottom-width: 1px;border-bottom-color: #27533A;text-align: center;padding: 12px 12px;"><img class="d-flex justify-content-center align-items-center align-content-center align-self-center mx-auto" src="static/location/index/favorite.svg" loading="lazy" style="text-align: center;" width="40px" height="40px">События</button></a></div>
            <div class="col" style="padding: 0px;"><a href="rate"><button class="btn text-center" type="button" style="width: 100%;background: #467259;border-width: 0px;border-style: solid;border-right-width: 2px;border-right-color: #27533A;border-bottom-width: 1px;border-bottom-color: #27533A;text-align: center;padding: 12px 12px;"><img class="d-flex justify-content-center align-items-center align-content-center align-self-center mx-auto" src="static/location/index/trophy.svg" loading="lazy" style="text-align: center;" width="40px" height="40px">Рейтинг</button></a></div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col" style="padding: 0px;width: 100%;text-align: center;">
                <div class="row" style="margin: 0px;">
                    <div class="col" style="padding: 0px;background: #3f3f3d;width: 100%;">
                        <hr style="height: 4px;margin: 0px;color: 3F3F3D;background: #3f3f3d;width: 100%;">
                    </div>
                </div>
                <a href="district"><button class="btn" type="button" style="width: 100%;text-align: left;background: linear-gradient(-180deg, #609452 0%, #598b4e 46%, #5B944F 97%);border-width: 1px;border-color: #294c24;border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;border-radius: 0px;height: 45px;"><img src="static/location/index/brass-knuckles.svg" loading="lazy" width="24px" height="24px">&nbsp;Район<br></button></a>                    
                <a href="center"><button class="btn" type="button" style="width: 100%;text-align: left;background: linear-gradient(-180deg, #609452 0%, #598b4e 46%, #5B944F 97%);border-width: 1px;border-color: #294c24;border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;border-radius: 0px;height: 45px;"><img src="static/location/index/shop.svg" loading="lazy" width="16px" height="16px">&nbsp;Центр</button>
                </a>
                <a href="prom"><button class="btn" type="button" style="width: 100%;text-align: left;background: linear-gradient(-180deg, #609452 0%, #598b4e 46%, #5B944F 97%);border-width: 1px;border-color: #294c24;border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;border-radius: 0px;height: 45px;"><img src="static/location/index/factory.svg" loading="lazy" width="16px" height="16px">&nbsp;Промзона</button>
                </a>
                <a href="stadium"><button class="btn" type="button" style="width: 100%;text-align: left;background: linear-gradient(-180deg, #609452 0%, #598b4e 46%, #5B944F 97%);border-width: 1px;border-color: #294c24;border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;border-radius: 0px;height: 45px;"><img src="static/location/index/stadium.svg" loading="lazy" width="16px" height="16px">&nbsp;Стадион</button>
                </a>

                <button class="btn" type="button" style="width: 100%;text-align: left;background: linear-gradient(-180deg, #609452 0%, #598b4e 46%, #5B944F 97%);border-width: 1px;border-color: #294c24;border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;border-radius: 0px;height: 45px;"><img src="static/location/index/pustir.svg" loading="lazy" width="16px" height="16px">&nbsp;Пустырь</button>

                <a href="{% if user_head_info.user_access == 'moderator'%}pubmd{% else %}pub{% endif %}"><button class="btn" type="button" style="width: 100%;text-align: left;background: linear-gradient(-180deg, #609452 0%, #598b4e 46%, #5B944F 97%);border-width: 1px;border-color: #294c24;border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;border-radius: 0px;height: 45px;"><img src="static/location/index/beer.svg" loading="lazy" width="16px" height="16px">&nbsp;Паб </button>
                </a>
                <a href="free-mushrooms"><button class="btn" type="button" style="width: 100%;text-align: left;background: linear-gradient(-180deg, #C34A50 0%, #9C3B40 46%, #C34A50 97%);border-width: 1px;border-color: #294c24;border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;border-radius: 0px;height: 45px;"><img src="static/assets/img/mushroom.svg" loading="lazy" width="16px" height="16px">&nbsp;Бесплатные грибы </button>
                </a>
                
<!--
                <a href="sale"><button class="btn" type="button" style="width: 100%;text-align: left;background: linear-gradient(-180deg, #C34A50 0%, #9C3B40 46%, #C34A50 97%);border-width: 1px;border-color: #294c24;border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;border-radius: 0px;height: 45px;"><img src="static/location/index/sale.svg" loading="lazy" width="16px" height="16px">&nbsp;Скидки [4]</button>
                </a> -->


                <!--<a href="change-club"><button class="btn" type="button" style="width: 100%;text-align: left;background: orange;border-width: 1px;border-color: #294c24;border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;border-radius: 0px;height: 45px;"><img src="static/assets/img/mushroom.webp">&nbsp;Переход </button>
                </a>-->
                <div class="row" style="margin: 0px;">
                    <div class="col" style="padding: 0px;background: #3f3f3d;width: 100%;">
                        <hr style="height: 4px;margin: 0px;color: 3F3F3D;background: #3f3f3d;width: 100%;">
                    </div>
                </div>
            </div>
        </div>
{% include "base/footer.html" %}