{% include "base/header.html" %}

<form action="strongbox" method="POST">
<div class="row">
            <div class="col" style="background: #CCDBBC;">
                <h5 style="text-align: center;color: #CA4D29;"><strong>Вип.</strong></h5>
                <p style="text-align: left;font-size: 14px;">Вип статус дает тебе преимущества.</p>
            </div>
        </div>

    
<div class="row" style="text-align: left;background: #CCDBBC;margin-right: -15px;padding-left: 15px;padding-top: 15px;">
    <h5 style="color: #CA4D29;"><strong>Преммиум статус</strong></h5>
    <div class="col-3" >
        <img src="static/assets/img/vip-card.png" width="100%">
    </div>
    <div class="col-9">
    1. Возможность забронировать билет на махач<br>
    2. Покупка шмота на уровень выше<br>
    3. Прокачка шмота на уровень выше<br>
    4. Награда в 1 лотерейный билет за работу на 500 и больше<br>
    5. Максимальное значение энергии - 120 единиц<br>
    6. Перезарядка амулетов и тату<br>
    7. Ставки в грибах (от 100)<br>
    8. Уникальная награда в достижениях<br>
    
    <br><br><b>
    На сколько дней будем брать?: </b>
    </div>
</div>


<div class="row" style="text-align: left;background: #CCDBBC;margin-right: -15px;padding-left: 15px;padding-top: 15px;">
    <h5 style="color: #CA4D29;"><strong>VIP на 7 дней</strong></h5>
    <div class="col-3" >
        <img src="static/assets/img/vip-card.png" width="100%">
    </div>
    <div class="col-9">
        <p style="text-align: left;"><b>Цена: 125 <img src="static/assets/img/mushroom.svg" loading="lazy" height="16px" width="16px"></b></p>
        <center><a href="buy-vip?id=1"><button class="btn" type="button" style="background-color:crimson;border-width: 0px;">Купить</button></a></center>
    </div>
</div>  


<div class="row" style="text-align: left;background: #CCDBBC;margin-right: -15px;padding-left: 15px;padding-top: 15px;">
    <h5 style="color: #CA4D29;"><strong>VIP на 14 дней</strong></h5>
    <div class="col-3" >
        <img src="static/assets/img/vip-card.png" width="100%">
    </div>
    <div class="col-9">
        <p style="text-align: left;"><s><b>Цена: 250<img src="static/assets/img/mushroom.svg" loading="lazy" height="16px" width="16px"></b></s><br>
        <b style="color: #dc3545">Цена с учетом скидки: 200 <img src="static/assets/img/mushroom.svg" loading="lazy" height="16px" width="16px"></b><br>
        Экономия 20%
        </p>
        <center><a href="buy-vip?id=2"><button class="btn" type="button" style="background-color:crimson;border-width: 0px;">Купить</button></a></center>
    </div>
</div>  


<div class="row" style="text-align: left;background: #CCDBBC;margin-right: -15px;padding-left: 15px;padding-top: 15px;">
    <h5 style="color: #CA4D29;"><strong>VIP на 21 день</strong></h5>
    <div class="col-3" >
        <img src="static/assets/img/vip-card.png" width="100%">
    </div>
    <div class="col-9">
        <p style="text-align: left;"><s><b>Цена: 375<img src="static/assets/img/mushroom.svg" loading="lazy" height="16px" width="16px"></b></s><br>
        <b style="color: #dc3545">Цена с учетом скидки: 244 <img src="static/assets/img/mushroom.svg" loading="lazy" height="16px" width="16px"></b><br>
        Экономия 35%
        </p>
        <center><a href="buy-vip?id=3"><button class="btn" type="button" style="background-color:crimson;border-width: 0px;">Купить</button></a></center>
    </div>
</div>  


<div class="row" style="text-align: left;background: #CCDBBC;margin-right: -15px;padding-left: 15px;padding-top: 15px;">
    <h5 style="color: #CA4D29;"><strong>VIP на 30 день</strong></h5>
    <div class="col-3" >
        <img src="static/assets/img/vip-card.png" width="100%">
    </div>
    <div class="col-9">
        <p style="text-align: left;"><s><b>Цена: 500<img src="static/assets/img/mushroom.svg" loading="lazy" height="16px" width="16px"></b></s><br>
        <b style="color: #dc3545">Цена с учетом скидки: 294 <img src="static/assets/img/mushroom.svg" loading="lazy" height="16px" width="16px"></b><br>
        Экономия 45%
        </p>
        <center><a href="buy-vip?id=4"><button class="btn" type="button" style="background-color:crimson;border-width: 0px;">Купить</button></a></center><br><br>
    </div>
</div>  

    
{% include "base/footer.html" %}