{% include "base/header.html" %}


        <div class="row">
            <div class="col" style="background: #CCDBBC;">
                <h5 style="text-align: center;color: #CA4D29;padding-top: 5px;"><strong>Стадион</strong></h5>
                
            </div>
        </div>


        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="calendar"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/stadium/calendar.png">&nbsp;Расписание </button></a></div>
        </div>
<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="kassa"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/stadium/cash-register.png">&nbsp;Касса </button></a></div>
        </div>
<!--<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="dev"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/stadium/gangster.png">&nbsp;Перекупщик </button></a></div>
        </div>-->
<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="bets"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/stadium/betting.png">&nbsp;Букмекер </button></a></div>
        </div>
<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="bets-history"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/stadium/betting.png">&nbsp;История ставок </button></a></div>
        </div>


{% include "base/footer.html" %}