{% include "base/header.html" %}

<div class="row">
            <div class="col" style="background: #CCDBBC;">
                <h5 style="text-align: center;color: #CA4D29;"><strong>В разработке</strong></h5>
                <p style="text-align: left;font-size: 14px;">Этот раздел пока находится в разработке.
Админ не спит по ночам - пилит игру, поэтому приходи сюда позже, или подпишись на канал, чтобы следить за обновлениями.</p>
            </div>
        </div>
        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;padding-left: 15px;">
                <div class="col-11" style="border-radius: 15px;"><a href="https://t.me/+s8k3vX7HFFE2MDU6"><button>Подписаться</button></a></div><br><br>
            </div>

{% include "base/footer.html" %}