{% include "base/header.html" %}


<div class="row">
            <div class="col" style="background: #CCDBBC;">
                <h5 style="text-align: center;color: #CA4D29;"><strong>Скидки</strong></h5>
            </div>
        </div>


<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;padding-bottom: 10px;">
    <div class="col-3" >
        <img src="static/assets/img/bigsale.svg" height="80px">
    </div>
    <div class="col-9" style="text-align:left;">
        <p style="color: #CA4D29;"><a style="color: #CA4D29;" href="/mag-talisman"><strong>Скидка на прокачку талисманов (до -7%)</strong></a></p>

        <b>Скидка действует до: 27.11.2022</b><br>
    </div><hr>
</div>


<!--<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;padding-bottom: 10px;">
    <div class="col-3" >
        <img src="static/assets/img/bigsale.svg" height="80px">
    </div>
    <div class="col-9" style="text-align:left;">
        <p style="color: #CA4D29;"><a style="color: #CA4D29;" href="/mag-talisman"><strong>Скидка на покупку амулетов (до -33%)</strong></a></p>

        <b>Скидка действует до: 01.11.2022</b><br>
    </div><hr>
</div>-->


<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;padding-bottom: 10px;">
    <div class="col-3" >
        <img src="static/assets/img/bigsale.svg" height="80px">
    </div>
    <div class="col-9" style="text-align:left;">
        <p style="color: #CA4D29;"><a style="color: #CA4D29;" href="/donat-page"><strong>К каждой покупке грибов + 20%</strong></a></p>

        <b>Скидка действует до: 27.11.2022</b><br>
    </div><hr>
</div>

<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;padding-bottom: 10px;">
    <div class="col-3" >
        <img src="static/assets/img/bigsale.svg" height="80px">
    </div>
    <div class="col-9" style="text-align:left;">
        <p style="color: #CA4D29;"><a style="color: #CA4D29;" href="/mag-talisman"><strong>Скидка на покупку талисманов (до -7%)</strong></a></p>

        <b>Скидка действует до: 27.11.2022</b><br>
    </div><hr>
</div>


<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;padding-bottom: 10px;">
    <div class="col-3" >
        <img src="static/assets/img/bigsale.svg" height="80px">
    </div>
    <div class="col-9" style="text-align:left;">
        <p style="color: #CA4D29;"><a style="color: #CA4D29;" href="/bags"><strong>Скидка на боевые пакеты у Барыги (до -5%)</strong></a></p>

        <b>Скидка действует до: 27.11.2022</b><br>
    </div><hr>
</div>
{% include "base/footer.html" %}