{% include "base/header.html" %}


        <div class="row">
            <div class="col" style="background: #CCDBBC;">
                <h5 style="text-align: center;color: #CA4D29;padding-top: 5px;"><strong>Битва за Паб</strong></h5>
                <p>Только лучшие бойцы клубов могут войти в паб и побороться за звание <b>Королей Паба.</b></p>
            </div>
        </div>

        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: 45px;">
            <p style="text-align: center;background-color: orange;height: 26px;">
            Битва начнеться. Но никто не знает когда.</p></div>
        <div class="row" style="background: #CCDBBC;text-align: center;">
            <a href="#"><button style="background-color: red;color: white;">Записаться за 5000 <img src="static/assets/img/dollar.webp"></button></a>
            <br><br>
        </div>


{% include "base/footer.html" %}