{% include "base/header.html" %}

<div class="row">
            <div class="col" style="background: #CCDBBC;">
                <h5 style="text-align: center;color: #CA4D29;"><strong>Настольный футбол</strong></h5>
                <p style="text-align: left;font-size: 14px;">Играем до пяти.</p>
            </div>
        </div>

        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: 45px;">
            <p style="text-align: center;background-color: orange;height: 26px;"><b>
            {{ user_head_info.user_name }} [{{ game_info.user_goal }}] - [{{ game_info.bot_goal }}] {{ oponent_name }}</b></p>
            </div>
        
    {% if game_info.user_goal != 5 and game_info.bot_goal != 5%}
        <a href='football-play?kick=1' style="text-decoration: none;"><div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;padding-left: 15px;">
            <div class="col-4" style="border-radius: 25px;"><img src="static/assets/img/strategy-1.png" width="100px" height="100px"></div>
            <div class="col-8" style="padding-right: 5px;padding-left: 15px;">
                <p style="text-align: left;margin-bottom: 0px;font-size: 16px;color: #CA4D29;"><strong>Удар через все поле + защита ворот</strong></p>
            </div>
            <hr style="margin-top: 10px; height: 2px;">
        </div></a>

        <a href='football-play?kick=2' style="text-decoration: none;"><div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;padding-left: 15px;">
            <div class="col-4" style="border-radius: 25px;"><img src="static/assets/img/strategy-2.png" width="100px" height="100px"></div>
            <div class="col-8" style="padding-right: 5px;padding-left: 15px;">
                <p style="text-align: left;margin-bottom: 0px;font-size: 16px;color: #CA4D29;"><strong>Пас на нападающих + удар</strong></p>
            </div>
            <hr style="margin-top: 10px; height: 2px;">
        </div></a>
    {% elif game_info.user_goal == 5 %}
        <div class="row" style="background: #CCDBBC; text-align: center;">
                <p style="font-size: 14px;">Поздравляю! Ты выиграл.</p>
        </div>
            <div class="row" style="background: #CCDBBC;text-align: center;">
                <a href="football-play?kick=1"><button style="background-color: red;color: white;">Забрать</button></a>
                <br><br>
            </div>
    {% elif game_info.bot_goal == 5 %}
        <div class="row" style="background: #CCDBBC; text-align: center;">
            <p style="font-size: 14px;">Ты проиграл.</p>
        </div>
            <div class="row" style="background: #CCDBBC;text-align: center;">
                <a href="football-play?kick=1"><button style="background-color: red;color: white;">Уйти</button></a>
                <br><br>
            </div>
    {% endif %}

{% include "base/footer.html" %}