{% include "base/header.html" %}


        <div class="row">
            <div class="col" style="background: #CCDBBC;">
                <h5 style="text-align: center;color: #CA4D29;padding-top: 5px;"><strong>Барыга</strong></h5>
                <p>В центре всегда кипит жизнь. Тут продают, покупают, развлекаются</p>
            </div>
        </div>


        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="market-weapon"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/center/weapon.webp"  width="16px" height="16px">&nbsp;Оружие </button></a></div>
        </div>
<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="market-clothing"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/center/clothes.webp"  width="16px" height="16px">&nbsp;Одежда </button></a></div>
        </div>
<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="market-stuff"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/assets/img/tattoo-studio.webp"  width="16px" height="16px">&nbsp;Штукенции </button></a></div>
        </div>
<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="padding-left: 0px;padding-right: 0px;text-align: left;"><a href="bags"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/center/shopping-bag.webp" width="16px" height="16px">&nbsp;Пакеты </button></a></div>
        </div>

<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;padding-top: 20px;">
    <div class="col" style="height: auto;padding-left: 0px;padding-right: 0px;text-align: left;"><a href="center"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/assets/img/left-arrow.png">&nbsp;Назад</button></a></div>
</div>

{% include "base/footer.html" %}