{% include "base/header.html" %}

<div class="row">
            <div class="col" style="background: #CCDBBC;">
                <h5 style="text-align: center;color: #CA4D29;"><strong>Тату салон</strong></h5>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-3"><img src="static/center/tattoo.webp" width="100%" style="padding-top: 0px;border-radius: 15px;background-color: black;border: 10px;"></div>
                    <div class="col-8"  style="background: #ffe189;border-radius: 5px;border: 3px solid #EB8A17;margin-left: 20px;">
                        <p style="padding: 5px;">Временные татухи остаются на тебе определенное время, а потом исчезают, не оставляя следа. Выбирай что тебе нравится.</p>
                    </div>
                </div>
            </div>
        </div>

        {% for tattoo in tattoo_list %}
        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;padding-left: 15px;">
            <div class="col-4" style="border-radius: 25px;width: 110px;height: 110px;"><img src="{{ tattoo.tattoo_avatar }}" width="110px" height="110px"></div>
            <div class="col-8" style="padding-right: 5px;padding-left: 15px;">
                <p style="text-align: left;margin-bottom: 0px;font-size: 16px;"><strong>
                    {% if tattoo.tattoo_skill == "power" %}
                    Сила:
                    {% elif tattoo.tattoo_skill == "stamina" %}
                    Стойкость:
                    {% elif tattoo.tattoo_skill == "agility" %}
                    Ловкость:
                    {% elif tattoo.tattoo_skill == "trick" %}
                    Хитрость:
                    {% endif %}
                    </strong> +{{ tattoo.tattoo_skill_power }}</p>


                <p style="text-align: left;font-size: 16px;margin-bottom: 0px;"><strong> Действует: </strong>

                {% if tattoo.tattoo_currency == 'silver' %}
                    12:00:00
                {% elif tattoo.tattoo_currency == 'gold' %}
                    36:00:00
                {% elif tattoo.tattoo_currency == 'mushrooms' %} 
                    60:00:00
                {% endif %}

                    <!--{{ tattoo.tattoo_time }}-->

                </p>



                <p style="text-align: left;font-size: 16px;margin-bottom: 0px;"><strong> Стоимость: </strong>{{ tattoo.tattoo_price }}
                {% if tattoo.tattoo_currency == 'silver' %}
                    <img src="static/icons/silver.webp" height="20px" width="20px">
                {% elif tattoo.tattoo_currency == 'gold' %}
                    <img src="static/icons/dollar.svg" width="20px" height="20px">
                {% elif tattoo.tattoo_currency == 'mushrooms' %} 
                    <img src="static/assets/img/mushroom.svg" height="20px" width="20px">
                {% endif %}
                </p>
                <p style="text-align: left;font-size: 16px;margin-bottom: 0px;"><strong> У тебя есть: </strong>{{ tattoo.you_have }}</p><br>
                
                {% if tattoo.tattoo_currency == 'silver' %}
                <a href="tatu?buy={{ tattoo.id }}"><button class="btn" type="button" style="padding-right: 14px;padding-top: 0px;padding-bottom: 0px;background: var(--bs-red);border-width: 0px;">Хочу такую</button></a>
                {% endif %}
            </div>
            <hr style="margin-top: 10px; height: 2px;">
        </div>
        {% endfor %}

<div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
    <div class="col" style="height: auto;padding-left: 0px;padding-right: 0px;text-align: left;"><a href="center"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;"><img src="static/assets/img/left-arrow.png">&nbsp;Назад</button></a></div>
</div>
{% include "base/footer.html" %}