{% include "base/header.html" %}

<div class="row">
            <div class="col" style="background: #CCDBBC;">
                <h5 style="text-align: center;color: #CA4D29;"><strong>Бесплатные грибы</strong></h5>
<br>
Ты будешь получать 20% от каждого доната приглашенного тобой пользователя.
<br>        
<br>        
<b>Твоя персональная ссылка для приглашения:</b><br>
<input type="text" value="https://hools.online/registration?user={{ user_id }}" style="width: 95%"> <br>
<br>
10 человек, которые пригласят наибольшее количество активных игроков - получат уникальную награду, а в дальнейшем - когда будет проработана реферальная система - получат дополнительные бонусы.<br>
<br><br>
Телеграм канал с новостями - <a href="https://t.me/hools_online">https://t.me/hools_online</a> <br>
Телеграм чат с игроками - <a href="https://t.me/+s8k3vX7HFFE2MDU6">https://t.me/+s8k3vX7HFFE2MDU6</a> <br><br>
            </div>
        </div>


{% include "base/footer.html" %}