{% include "base/header.html" %}

<div class="row" style="background: #CCDBBC;padding-bottom: 25px;">
            <div class="col" style="background: #CCDBBC;">
            <h5 style="text-align: center;color: #CA4D29;"><strong>Работа</strong></h5>
             <div class="row">
            <div class="col-3"><img src="static/work/grandmother.webp" width="100%" style="padding-top: 0px;border-radius: 5px;background-color: cornflowerblue;"></div>
            <div class="col-8"  style="background: #ffe189;border-radius: 5px;border: 3px solid #EB8A17;margin-left: 20px;">
                <p style="padding: 5px;">Так-так...Нужна работа? Мясокомбинат на сегодня нарядов не прислал, но постараюсь подобрать что-то поприличней.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: 45px;">
        <p style="text-align: center;background-color: orange;height: 26px;">
        {{ work_name }} </p>
        </div>


          <div class="row" style="text-align: left;background: #CCDBBC;margin-right: -15px;padding-left: 5px;">
              <div style="padding: 0px 10px;">{{ description }}<br><br></div>
            <!-- Необходимо потратить: <b></b>   <img src="static/assets/img/lightning.webp">
            Время на выполнение: <b> </b> минут
            Награда: <b> </b>   <img src="static/assets/img/silver-.webp">-->
            
        </div>
        <div class="row" style="text-align: center;background: #CCDBBC;margin-right: -15px;height: auto;">
            <div class="col" style="height: auto;padding-left: 0px;padding-right: 0px;text-align: left;"><a href="work"><button class="btn btn-primary" type="button" style="width: 100%;text-align: left;background: #56864c;border-color: #294c24;border-radius: 0px;height: 45px;">&nbsp;Назад</button></a><br><br></div>
        </div>



{% include "base/footer.html" %}